{% extends 'base_layout.html' %}
{% block title %} Blog {% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="text-center pt-3">
        <h1>Welcome to Manish's Blog</h1>
    </div>
    <br>
    <br>
    <h2>Latest Post</h2>

</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for article in articles.all %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ article.image.url }}" />
                    <div class="card-body">
                        <p class="card-text">{{ article.title }}
                            <br>
                            {{ article.pretty_date }}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'blogs:details' slug=article.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">
                                        View</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}